<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true"
         processIsolation="false"
         checkForUnintentionallyCoveredCode="true"
         strict="true"
         colors="true"
         backupGlobals="true">
    <testsuites>
        <testsuite name="unit">
            <directory>unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
